.font-1-xxl {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.125;
}

.font-1-xl {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.25;
}

.font-1-l {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
}

.font-1-m {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.33;
}

.font-1-m-b {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.33;
}

.font-1-s {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.font-1-xs {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.33;
}


.font-2-l {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
}

.font-2-l-b {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.font-2-m {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
}

.font-2-s {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.font-2-xs {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.4;
}