.footer-bg {
    background-color: var(--color-c12);
}

.footer__container {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    justify-content: space-between;
    padding: 80px 20px;
    gap: 120px;
}

.footer__container__img img {
    width: 136px;
    height: 32px;
}

.footer__title {
    margin-bottom: 32px;
}

.footer__container a {
    display: block;
}

.footer__container a:hover {
    color: var(--color-w);
}


.footer__container a {
    display: block;
    
}

.footer__container hr {
    display: block;
    margin: 24px 0;
    border: 2px solid var(--color-c11);
    
}

.social-media {
    display: flex;
    gap: 32px;
}

.footer__container__copy{
    padding-bottom: 32px;
}


@media (width<900px){

    .footer__container {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        gap: 32px;
    }

    .footer__container__contacts{
        grid-row: 3;
    }

    .social-media {
        justify-content: center;
    }

}