* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--color-c11);
}

img {
    width: 100%;
    display: block;
}

a {
    color: inherit;
}