.button {
    background: linear-gradient(#ffbf00, #f2a50c);
    color: #332200;
    font-weight: bold;
    padding: 16px 32px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    font-family: "poppins", sans-serif;
    font-size: 1rem;
}

.button:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.button.arrow {
    display: flex;
    place-items: center;
}

.button.arrow::after {
    content: "";
    background: url("../../img/icones/seta.svg") no-repeat;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    display: inline-block;
    transition: .3s;
}

.button.arrow:hover:after {
    transform: translateX(4px);
}

.button.button-secondary {
    background: var(--color-c10);
    color: var(--color-c2);
}

.button.button-secondary:hover {
    background: linear-gradient(var(--color-c10), var(--color-c11)) var(--color-c11);
}

.container {
    padding: 0 20px;
    max-width: 1200px;
    color: #fff;
    margin: 0 auto;
}

.title {
    font-size: 4rem;
    line-height: 1.125;
    font-family: "Poppins", sans-serif;
}

.title span {
    color: var(--color-p1);
}

.title-secondary {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color-c5);
}

.sub-header-bg {
    background-color: var(--color-c11);
}

.sub-header__container {
    padding: 60px 20px;
}

.sub-header__container .title-secondary {
    margin-bottom: 8px;
    display: block;
}


.grid {
    display: grid;
}

@media(width<1200px) {
    .title {
        font-size: 3rem;
    }

    .title-secondary {
        font-size: 1.3rem;
    }
}

@media(width<900px) {
    .title {
        font-size: 2.5rem;
    }

    .title-secondary {
        font-size: 1.2rem;
    }

    .button {
        padding: 12px 24px;
    }

}

@media(width<750px) {
    .title {
        font-size: 2rem;
    }

    .title-secondary {
        font-size: 1rem;
    }

    .button {
        padding: 10px 20px;
    }
}

@media(width<500px) {
    .button {
        padding: 8px 16px;
        font-size: .875rem;
    }

}