.questions-container {
    padding: 120px 20px;
}

.questions-container h2 {
    padding-bottom: 60px;
}

.question__list__item {
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.question__list__item:nth-child(odd) {
    background-color: var(--color-c2);
}

.question__list__item dt {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
}

.question__list__item dt::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--color-p1);
}

.question__list__item dt::after {
    content: "";
    display: block;
    width: 16px;
    height: 6px;
    background: url("../../../img/icones/seta-abrir.svg") no-repeat;
    transition: .3s;
}

.question__list__item dt:hover:after {
    transform: rotate(180deg);
}

.question__list__item dd {
    padding-left: 20px;
    max-width: 80ch;
}

@media(width<1100px) {

    .questions-container {
        padding: 60px 20px;
    }

    .questions-container h2 {
        padding-bottom: 30px;
    }
}